a {
  color: #000000;
  text-decoration: none;}

/* body */
body {
  display: grid;
  grid-template: auto auto auto / 8fr 2fr;
  grid-template-areas:
    "header header"
    "main   sidebar"
    "footer footer";
  grid-row-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #eeeeee;}

/* header */
header {
  grid-area: header;}
header h1 {
  text-align: center;}
header nav ul {
  display: flex;
  padding: 0 0;
  margin: 0 0;
  list-style: none;}
header nav ul li {
  width: 20%;
  text-align: center;
  border-bottom: 3px solid #eeeeee;}
#selected {
  border-bottom: 3px solid #05ff00;}
header nav li:hover {
  border-bottom: 3px solid #fc9720;}
header a:hover {
  font-weight: bold;}

/* main */
main {
  grid-area: main;
  padding: 30px 0px 30px 30px;
  background-color: #eeeeee;}

/* sidebar */
.sidebar {
  grid-area: sidebar;
  margin: 30px 30px 10px 30px;
  padding: 0 10px;
  background-color: #f5f5f5;
  border: 1px solid #000000;}
.sidebar ul {
  list-style: none;}

/* footer */
footer {
  grid-area: footer;
  width: 100%;
  font-weight: bold;
  text-align: center;}
footer a:hover {
  color: #ff4f29;}


/* web */
article {
  padding: 0px 30px;
  background-color: #f5f5f5;
  border: 1px solid #000000;}

pre {
  margin: 0 0;
  padding: 10px 10px;
  background-color: #d2f4f7;}

/* contact */
